{{+ import HelpBar from "ui/widgets/help-bar/help-bar"; }}
{{+ import PlayerProgress from "tt/widgets/player-progress/player-progress"; }}

<div class="s-player__title" data-export-id="{{@title}}"></div>
<div class="s-player__shadow" data-export-id="{{@shadow}}">
	<div class="s-player__controls">
		{{% PlayerProgress, {}, progress }}
		{{% HelpBar, {}, helpBar }}
	</div>
</div>
