{{+ import HelpBar from "ui/widgets/help-bar/help-bar"; }}
{{+ import ItemList from "tt/widgets/item-list/item-list"; }}

<div class="s-abstract-list__header">
	<div class="s-abstract-list__text">
		<span class="s-abstract-list__logo">Tube &mdash;</span>
		<span class="s-abstract-list__title" data-export-id="{{@title}}"></span>
	</div>
	{{% HelpBar, {}, helpBar }}
</div>

<div class="s-abstract-list__content">
	{{% ItemList, {}, list }}
</div>
